html,
body {
  font-size: 100%;
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
  background: #ffffff;
  margin: 0;
}

p,
ul li,
ol li {
  margin: 0;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
label {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body a:hover {
  text-decoration: none;
}

body.body-wrapper {
  padding-top: 85px;
}

input[type="submit"],
input[type="reset"],
a {
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.apply-site-page .title {
  text-align: center;
}

.apply-site-page .title h3 {
  font-size: 40px;
}

.apply-site-page .title .sub-title {
  font-size: 20px;
}

/*-- header --*/

/* footer */

.footer-wrapper {
  background: url(../images/footerBG.png) no-repeat;
  background-size: auto !important;
}

.footer-wrapper.contact {
  padding: 12em 0 2em;
  margin-top: 40px;
}

@media (max-width: 991px) {
  .footer-wrapper .footer-pro-list,
  .footer-wrapper .footer-cont-list {
    display: none;
  }
}

/*-- // footer */

/*-- navbar --*/

.nav-links {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  transform: translateZ(0px);
}

.nav-links .navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}

.nav-links .navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.nav-links .navbar-inverse {
  background-color: #fff;
  border: none;
}

.nav-links .navbar-inverse .navbar-brand h1 {
  color: #ff5500;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 600;
}

.nav-links .navbar-brand {
  height: inherit;
  padding: 0;
}

.nav-links .navbar-brand>img {
  float: left;
  height: 83px;
  width: 254px;
}

.nav-links .navbar-nav>li>a {
  height: 83px;
  line-height: 83px;
  padding: 0px 25px;
  color: #171717;
  font-size: 16px;
  font-weight: 400;
}

.nav-links .navbar-inverse .navbar-nav>li>a:hover {
  background-color: #fff;
  color: #00b5cb;
}

.nav-links .navbar-inverse .navbar-nav>li>.dropdown-menu {
  display: block;
  min-width: 100% !important;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  border-radius: 0;
  border: none;
  padding: 0;
  color: #fff;
  background-color: #00b5cb;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.nav-links .navbar-inverse .navbar-nav>li:hover>.dropdown-menu {
  display: block;
  height: auto;
  overflow: hidden;
  opacity: 1;
}

@media (max-width: 767px) {
  .nav-links .navbar-inverse .navbar-nav>li:hover>.dropdown-menu {
    position: static;
    float: none;
    margin-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-links .navbar-nav>li>a {
    height: auto;
    line-height: normal;
    padding: 15px 0px;
  }
}

.nav-links .navbar-inverse .navbar-nav>li>.dropdown-menu>li>a:hover {
  text-decoration: none;
  background-color: #00b5cb;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.nav-links .navbar-inverse .navbar-nav>li>.dropdown-menu>li>a:focus {
  background-color: #00b5cb;
}

.nav-links .navbar-inverse .navbar-nav>li>ul>li>a {
  padding: 10px;
  color: #fff !important;
  text-align: center;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: #000;
}

.nav-links .navbar-inverse .navbar-nav>.active>a,
.nav-links .navbar-inverse .navbar-nav>.active>a:focus,
.nav-links .navbar-inverse .navbar-nav>.active>a:hover {
  color: #00b7ff;
  background-color: #ffffff;
}

.navbar-header {
  width: 30%;
  float: left;
}

div#myNavbar {
  width: 70%;
  float: right;
  border: none;
}

.navbar-nav {
  float: right;
}

/*-- Link Effect: bottom border enlarge --*/

.link-effect a {
  padding: 0 0 10px;
}

.link-effect .dropdown-menu li>a::after {
  display: none;
}

.link-effect li.active a::after,
.link-effect a:hover::after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/*-- /Link Effect: bottom border enlarge --*/

/*-- /navbar --*/

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #000;
  background-color: #fff;
}

/*-- //header --*/

/*-- banner --*/

.banner {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  height: 640px;
  position: relative;
  text-align: center;
  padding: 0;
  transform: translateZ(0px);
}

.banner h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5em;
  word-spacing: 7px;
}

.banner p {
  color: #fff;
  line-height: 1.5em;
}

.banner .fill {
  width: 100%;
  height: 640px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.banner .item,
.banner .swiper-container {
  height: 100%;
  width: 100%;
}

/*-- //banner --*/

/*-- to-top --*/

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../images/arrow.png) no-repeat 0px 0px;
}

#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

/*-- //to-top --*/

/*-- about --*/

.about,
.services,
.contact,
.apply-site,
.contact1 {
  padding: 4em 0;
}

div#about {
  background-color: #fff;
}

.about-agileits-title h3,
.contact h3,
.heading h3 {
  font-size: 3em;
  color: #00a7cb;
  text-decoration: none;
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.about-content p {
  color: #696868;
  font-family: Microsoft YaHei;
  font-size: 0.9em;
  margin: 0;
  text-indent: 1.8em;
  line-height: 1.8em;
  letter-spacing: 1px;
}

.partners {
  padding: 20px 0;
}

.partners .title {
  margin-bottom: 20px;
  color: #696868;
  font-weight: 600;
  font-family: Microsoft YaHei;
}

.partners .partner-group img {
  display: block;
  height: 80px;
  width: auto;
  margin: 10px auto;
}

.partners .partner-group img:hover {
  transition: all 0.3s;
  transform: scale(1.05);
  z-index: 5;
}

@media (min-width: 1024px) {
  .partners .partner-group img {
    height: 100px;
  }
}

/*--//about --*/

/* --ideapaint-- */

.ideapaint {
  padding: 60px 0px 20px;
}

.ideapaint .nav-list-wrapper {
  width: 30%;
  float: left;
  padding: 10px;
}

.nav-list-wrapper h3 {
  font-size: 18px;
  color: #00b1cb;
  text-decoration: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}

.nav-list-wrapper .nav-list .active a {
  color: #1a1a1a;
}

.nav-list-wrapper .nav-list a {
  font-family: "proxima-nova";
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-style: normal;
  color: rgba(26, 26, 26, 0.4);
  line-height: 1.25em;
  display: block;
  padding: 0 0 0.75em;
  margin-bottom: 1px;
}

.nav-list-wrapper .nav-list a:hover,
.nav-list-wrapper .nav-list a:focus {
  background: none;
  outline: none;
}

.ideapaint .tab-content {
  width: 70%;
  float: left;
  margin-bottom: 30px;
}

.ideapaint .tab-content .title-content {
  margin-bottom: 20px;
}

.ideapaint .tab-content .title-content h3 {
  margin-bottom: 20px;
}

.ideapaint .tab-content .title-content p {
  line-height: 1.8em;
}

.ideapaint .tab-content .img-wrapper-text {
  line-height: 1.8em;
  padding-top: 10px;
}

.ideapaint .tab-content .img-bg {
  width: 50%;
  padding-top: 30%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ideapaint .tab-content .img-bg-left {
  float: left;
  margin-right: 20px;
}

.ideapaint .tab-content .img-bg-right {
  float: right;
  margin-left: 20px;
}

.ideapaint .tab-content .video-wrapper {
  height: 400px;
  margin-top: 20px;
}

.ideapaint .ideapaint-more {
  display: block;
  width: 50%;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  line-height: 30px;
  margin: 30px auto;
  text-align: center;
  border: 1px solid #00b1cb;
  color: #fff;
  background-color: #00b1cb;
  transition: all 0.3s;
}

.ideapaint .ideapaint-more:hover {
  color: #00b1cb;
  background-color: #fff;
  transform: scale(1.1);
}

.contact-us-link-wrapper {
  width: 100%;
  text-align: left;
  line-height: 1.5;
  padding: 20px 0;
  margin-top: 30px;
}

.contact-us-link-wrapper a {
  color: #00b1cb;
}

@media (max-width: 767px) {
  .ideapaint {
    padding: 0px;
  }
  .nav-list-wrapper h3 {
    font-size: 16px;
  }
  .nav-list-wrapper .nav-list a {
    font-size: 12px;
  }
  .ideapaint .tab-content .title-content h3 {
    font-size: 20px;
  }
  .ideapaint .tab-content .img-wrapper-text {
    padding-top: 10px;
  }
  .ideapaint .tab-content .img-bg-left,
  .ideapaint .tab-content .img-bg-right {
    float: none;
    padding-top: 50%;
    width: 100%;
    margin: 0px;
  }
  .ideapaint .tab-content .video-wrapper {
    height: 200px;
    margin-top: 10px;
  }
  .ideapaint .ideapaint-more {
    width: 90%;
  }
}

/* --//ideapaint-- */

/*-- product --*/

.product {
  padding: 0;
  margin-bottom: 10px;
}

.product .heading {
  padding: 60px 0;
  background: url(../images/pro_title_bg.jpg) no-repeat 0px 0px fixed;
  background-size: cover;
}

.product .heading h3 {
  margin: 0;
}

.product_grid {
  text-align: center;
}

.product_grid .pro-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.product_grid .hovereffect .pro-img:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

.product_grid h4 {
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #282828;
  margin: 0.5em 0;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product_grid p {
  color: #212121;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-top: 2px;
}

.product_grid a {
  font-size: 14px;
  padding: 10px;
  display: inline-block;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.product_grid a:hover {
  color: #00b1cb;
  background: #fff;
}

/*-- //product --*/

/* -- apply-site -- */

.apply-site {
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

.apply-site .intro-wrapper {
  position: absolute;
  top: 58%;
  right: 6%;
  width: 620px;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.apply-site .intro-wrapper .title {
  color: #fff;
  font-size: 38px;
}

.apply-site .intro-wrapper .intro-text {
  color: #fff;
  font-size: 25px;
}

.apply-site .intro-wrapper .more {
  display: block;
  box-sizing: border-box;
  width: 100px;
  margin: 20px auto 0;
  padding: 10px;
  color: #fff;
  border: 1px solid #00b1cb;
  border-radius: 3px;
  background-color: #00b1cb;
  text-decoration: none;
}

.apply-site .intro-wrapper .more:hover {
  color: #00b1cb;
  background-color: #fff;
  transform: scale(1.1);
  text-decoration: none;
}

@media (max-width: 767px) {
  .apply-site .intro-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .apply-site .intro-wrapper .title {
    font-size: 28px;
  }
  .apply-site .intro-wrapper .intro-text {
    font-size: 20px;
  }
  .apply-site .intro-wrapper .more {
    font-size: 16px;
  }
}

.apply-site.company {
  background-image: url(../images/company_bg.jpg);
}

.apply-site.school {
  background-image: url(../images/school_bg.png);
}

.apply-site.home {
  background-image: url(../images/home_bg.jpg);
}

/* -- //apply-site -- */

/* /contact */

.contact {
  color: #fff;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.contact-list p {
  font-size: 1.4em;
  color: #fff;
  margin-bottom: 0.4em;
}

.contact-list .list-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.contact-list ul li {
  display: block;
  letter-spacing: 1px;
  color: #fff;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

.contact-list ul li a {
  color: #fff;
}

.contact-list ul li a:hover {
  color: #00b1cb;
}

iframe {
  width: 100%;
  border: none;
  min-height: 360px;
}

/* //contact */

/*-- mail us --*/

.contact-left input[type="text"],
.contact-left input[type="email"] {
  border: 1px solid #ccc;
  font-size: 1em;
  color: #828282;
  background: none;
  width: 100%;
  padding: 0.8em 1em;
  outline: none;
}

.contact-left input[type="text"]:hover,
.contact-left input[type="email"]:hover,
.contact-right textarea:hover {
  border-color: #ff5500;
}

.contact-right textarea {
  border: 1px solid #ccc;
  font-size: 1em;
  color: #828282;
  background: none;
  width: 100%;
  padding: 0.8em 1em;
  outline: none;
  min-height: 8em;
  resize: none;
}

.contact-left input[type="email"] {
  margin: 1.5em 0;
}

.contact-right input[type="submit"] {
  padding: 0.6em 1em;
  color: #fff;
  font-size: 1.1em;
  background: #00b5cb;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  outline: none;
  margin: 1em 0 0;
  width: 100%;
  border: 1px solid #00b5cb;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-right input[type="submit"]:hover {
  color: #00b1cb;
  background: #fff;
}

.address-row {
  margin: 0 0 1em;
}

.address-right {
  text-align: left;
}

.address-left {
  padding: 0;
  text-align: left;
}

.address-row span.glyphicon {
  font-size: 1em;
  border: 1px solid;
  padding: 1em;
  color: #00b5cb;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}

.address-row:hover span.glyphicon {
  border-color: #00b5cb;
  -webkit-transform: rotatey(360deg);
  -moz-transform: rotatey(360deg);
  transform: rotatey(360deg);
  -o-transform: rotatey(360deg);
  -ms-transform: rotatey(360deg);
}

.address-row h5 {
  font-size: 1.6em;
  color: #000;
  margin-bottom: 0.3em;
  font-weight: 300;
}

.address-row p a {
  color: #00b5cb;
}

.address-row p a:hover {
  color: #999;
}

.address h4 {
  font-size: 1.8em;
  color: #00bcd4;
  margin-bottom: 0.6em;
  text-transform: uppercase;
}

.contact h3 {
  color: #6f6c6c;
}

/*-- //mail us --*/

.copyright {
  padding: 1.5em 0;
  text-align: center;
  background: rgba(54, 54, 50, 1);
}

.copyright p {
  color: #b5b5b5;
  font-size: 13px;
  margin: 0;
  letter-spacing: 1px;
}

.copyright p a {
  color: #b5b5b5;
  text-decoration: none;
}

/*-- bootstrap-modal-pop-up --*/

.modal-header {
  font-size: 2em;
  color: #00b5cb;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-weight: 600;
  letter-spacing: 4px;
}

.close {
  opacity: 1;
}

.modal-body p {
  color: #999;
  text-align: left;
  padding: 2em 2em 1em;
  margin: 0 !important;
  line-height: 2em;
  font-size: 14px;
}

.modal-body p i {
  display: block;
  margin: 1em 0;
  color: #212121;
}

.modal-body {
  padding: 0;
}

.modal-body img {
  padding: 0em 2em 0 2em;
}

.modal-content {
  border-radius: 0;
}

button.close {
  font-size: 1.5em;
  color: #000;
  outline: none;
}

/*-- //bootstrap-modal-pop-up --*/

/*-- /responsive design --*/

@media (max-width: 1440px) {}

@media (max-width: 1366px) {}

@media (max-width: 1280px) {
  .nav-links .navbar-nav>li>a {
    padding: 0px 20px;
  }
  .product_grid .pro-img {
    max-width: 400px;
  }
}

@media (max-width: 1080px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {
  .nav-links .navbar-nav>li>a {
    padding: 0px 8px;
  }
  .banner h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
  }
  .banner {
    height: 423px;
  }
  .banner .fill {
    height: 423px;
  }
  .about,
  .services,
  .contact,
  .contact1 {
    padding: 3em 0;
  }
  .product_grid {
    text-align: center;
    float: left;
  }
  .partners .partner-group img {
    height: 60px;
  }
}

@media (max-width: 800px) {
  .about-agileits-title h3,
  .contact h3,
  .heading h3 {
    font-size: 2.8em;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
    float: none;
    margin: 0;
  }
  div#myNavbar {
    width: 100%;
    float: none;
    border: none;
  }
  .navbar-nav {
    float: none;
    margin-top: 0px;
    text-align: center;
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  .navbar-nav {
    float: none;
    text-align: center;
    background: #fff;
  }
  .nav-links .navbar-nav>li>a {
    padding: 15px 0px;
  }
  .nav-links .navbar-nav>li:nth-child(3)>a {
    pointer-events: none;
  }
  .navbar-brand {
    float: none;
  }
  .navbar-header {
    width: 100%;
    float: none;
    margin: 0 !important;
  }
  .navbar-toggle {
    background-color: #00b5cb;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #fff;
  }
  .contact-left input[type="text"],
  .contact-left input[type="email"] {
    margin: 0 0 1.5em 0;
  }
  .apply-site {
    min-height: 320px;
  }
  .navbar-toggle {
    margin-right: 0;
  }
}

@media (max-width: 736px) {
  .navbar-header {
    width: 100%;
    float: none;
    margin: 0;
  }
  div#myNavbar {
    width: 100%;
    float: none;
    border: none;
    margin: 0;
  }
  .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  .navbar-nav {
    float: none;
    text-align: center;
    background: #fff;
  }
  .navbar-brand {
    float: left;
    padding: 0 !important;
  }
  .navbar-header {
    width: 100%;
    float: none;
    margin: 0 !important;
  }
  .navbar-inverse .navbar-toggle {
    border-color: #fff;
  }
  .about-agileits-title h3,
  .contact h3,
  .heading h3 {
    font-size: 2.5em;
  }
  .about,
  .services,
  .contact,
  .contact1 {
    padding: 2.5em 0;
  }
  .address-row h5 {
    font-size: 1.5em;
  }
  .about-agileits-title h3,
  .contact h3,
  .heading h3 {
    margin-bottom: 25px;
  }
  .product_grid h4 {
    font-size: 1.3em;
  }
}

@media (max-width: 667px) {
  .nav-links .navbar-inverse .navbar-brand h1 {
    font-size: 2.2em;
  }
  .banner h3 {
    font-size: 2em;
  }
  .product_grid h4 {
    font-size: 1.2em;
  }
}

@media (max-width: 640px) {
  .product_grid {
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 2em;
  }
  .banner {
    height: 320px;
  }
  .banner .fill {
    height: 320px;
  }
}

@media (max-width: 600px) {}

@media (max-width: 568px) {}

@media (max-width: 480px) {
  .banner h3 {
    font-size: 2em;
    word-spacing: 1px;
  }
  .banner h3 {
    font-size: 1.5em;
    word-spacing: 1px;
  }
  .nav-links .navbar-inverse .navbar-brand h1 {
    font-size: 1.8em;
  }
  .banner {
    height: 320px;
  }
  .about-agileits-title h3,
  .contact h3,
  .heading h3 {
    font-size: 2.3em;
  }
}

@media (max-width: 414px) {
  .about,
  .services,
  .contact,
  .contact1 {
    padding: 2em 0;
  }
  .about-agileits-title h3,
  .contact h3,
  .heading h3 {
    font-size: 2em;
  }
  .contact-list p {
    font-size: 1.2em;
  }
}

@media (max-width: 384px) {
  .banner h3 {
    font-size: 1.2em;
    word-spacing: 1px;
  }
  .address-row h5 {
    font-size: 1.2em;
  }
  .nav-links .navbar-nav>li>a {
    padding: 15px 15px;
  }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {
  .navbar-toggle {
    margin-right: 0px;
  }
  .about-agileits-title h3,
  .contact h3,
  .heading h3 {
    font-size: 1.8em;
  }
  .product_grid {
    width: 99%;
    float: none;
    margin-bottom: 1em;
  }
  .contact-list p {
    font-size: 1em;
  }
}

/*-- /responsive design --*/